# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/
.eggs/

# Ambiente virtual
venv/
.venv/
env/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Variáveis de ambiente
.env
.env.*

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Docker
*.log
